* {

  /* background-color: rgb(43,34,44); */
}

body {
  margin: 0;
  background-color: rgb(43,34,44);
  font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
