* {

  /* background-color: rgb(43,34,44); */
}

body {
  width: 100%;
  height: 100vh;
  margin: 0; 
  background: radial-gradient(circle at 50% -20%, #102d52, #132a4c, #16233d, #161b2c, #13141f, #11111a);
 font-family: 'Syne', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
